.signup-wrapper{
    width: 70%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    
}

.or-line {
    overflow: hidden;
    text-align: center;
  }
  
  .or-line::before,
  .or-line::after {
    background-color: #00000058;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .or-line::before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .or-line::after {
    left: 0.5em;
    margin-right: -50%;
  }
  .p-log{
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
    cursor: pointer;
}